body {
  background-color: #3b5998;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, #3b5998 0%, #4b70ab 50%, rgba(75,112,171,0.8) 100%);
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
  background-color: white;
  border-radius: 8px;
}

.form-title { 
  font-size: 42px; 
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  font-weight: 800; 
  letter-spacing: 0.5px; 
  color: #3b5998; 
  padding-bottom: 12px; 
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0.5px;
  color: #3b5998;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: #3b5998;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 100px;
}
.auth-input {
  background-color: #e9ebee;
  color: #3b5998;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #3b5998;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  transition: all .44s ease;
  -webkit-transition: all .44s ease;
  -moz-transition: all .44s ease;
}
.auth-button:hover { filter: brightness(145%); }
